.features-list {
  display: flex;
  gap: 30px;
}

.features-list .item {
  width: 270px;
}

.icon-area {
  width: 100%;
  height: 120px;
  background: var(--secondary-bg-color);
  border-radius: 4px;
  @extend %align-list;
  justify-content: center;
  margin-bottom: 30px;
}

.features-list .title {
  @include font(14px, null, 1.14, null);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-list .text {
  @include font(14px, null, 1.71, null);

  color: var(--secondary-text-color);
}
