.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-set > .flex-element {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;

  top: 0;
  padding: 63px 24px;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  height: 100%;

  transform: translateY(100%);
  transition: transform var(--transition);
}

.portfolio-link:hover .portfolio-top-text,
.portfolio-link:focus .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.list-header {
  margin-bottom: 4px;
}

.list-header {
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}
.list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.portfolio-link {
  display: block;

  transition: box-shadow var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
